
.icon-mail:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-cancel:before { content: '\e802'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */